.navbar {
    background-color: #40428E;    
    .logo {
        display: flex;
        align-items: center;
        flex: 3;
        height: 11vh;
        width: 100%;
        overflow: hidden;
        @include respond(phone){
            flex: 5;
            margin-left: -30px;
        }
    }

    nav {
        flex: 2;
        display: flex;
        align-items: center;
        height: 11vh;
        @include respond(phone){
            flex: 1;
            margin-right: -30px;
        }

        .links {
            @include respond(max-800){
                display: none;
            }
        }

        .socmed {
            @include respond(phone){
                display: none;
            }
        }


        ul {
            display: flex;
            align-items: center;

            li {
                padding-right: 25px;
                @include respond(phone){
                    padding-right: 10px;
                }

                a {
                    font-family: "mono";
                    cursor: pointer;
                    font-size: 1.4rem;
                    color: #fff;
                }

                img {
                    @include respond(phone){
                        height: 25px;
                        width: 30px;
                    }
                }
            }
        }

    }
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #40428E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-size: 1.8rem !important;
    line-height: 3rem;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    background-color: #40428E;
    color: #ffff !important;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    @include respond(min-800){
        display: none;
    }
}

.openbtn:hover {
    background-color: #444;
}